.bgSignup-image {
  background-image: url('../images/pexels-tara-winstead-7722650.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
}

.shadow-custom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
